.DS_Store
UbunGit_OC/Pods/*
*.xcworkspacedata
*.xcuserstate

UbunGit_OC/UbunGit_OC.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UbunGit_OC/UbunGit_OC.xcodeproj/xcuserdata/mba.xcuserdatad/xcschemes/xcschememanagement.plist
